.analistas-card {
  background: #1c1c1e;
  border-radius: 12px;
  color: #f1f1f1;
  border: 1px solid #333;
  overflow: hidden;
  padding: 1rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 600;
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      padding-bottom: 5px;

      .symbol {
        font-weight: 400;
        color: #0d6efd;
        margin-left: 0.5rem;
        font-size: 0.95rem;
      }
    }

    .acciones-header {
      display: flex;
      gap: 1.5rem;
      margin-right:10px;
      .btn-icon {
        background: transparent;
        border: none;
        color: #f1f1f1;
        font-size: 1.8rem;
        transition: color 0.25s ease, transform 0.2s ease;
        

        &:hover {
          transform: scale(1.15);
        }

        &.favorito-btn {
          color: #f1c40f; // amarillo para modo oscuro
          &:hover {
            color: #ffd700;
          }
        }

        &.ocultar-btn {
          color: #888;
          &:hover {
            color: #d9534f; // rojo sutil
          }
        }
      }
    }
  }

  .card-body {
    .datos-generales {
      .dato-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.45rem 0.75rem;
        margin-bottom: 0.4rem;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.03);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        transition: background 0.25s ease, transform 0.2s ease;

        &:hover {
          background: rgba(255, 255, 255, 0.06);
          transform: translateY(-1px);
        }

        strong {
          color: #0d6efd;
          flex: 0 0 69%;
          padding-left: 10px;
          font-weight: 600;
          font-size: 0.95rem;
        }

        span, a {
          flex: 1;
          text-align: left;
          color: #f1f1f1;
          font-size: 0.95rem;
          word-break: break-word;
        }

        a.company-link {
          text-decoration: underline;
        }
      }
    }
  }
}

#link{text-decoration: underline;}
#link:hover{cursor:pointer;}