<div class="accordion accordion-flush" id="accordionPrecioDatosGenerales" >
  <div class="accordion-item crecimiento-card shadow-lg">
    <h2 class="accordion-header" id="headingPrecioDatosGenerales">
      <button
        class="accordion-button d-flex justify-content-between align-items-center"
        [class.collapsed]="isCollapsed"
        type="button"
        (click)="toggleCollapse()"
        [attr.aria-expanded]="!isCollapsed">
        <strong>💲 Dividendos</strong>
        <i class="bi text-white ms-auto"></i>
      </button>
    </h2>

    <div
      class="accordion-collapse"
      [class.show]="!isCollapsed"
      [class.collapse]="true"
      aria-labelledby="headingPrecioDatosGenerales">

      <div class="accordion-body">
        <div class="row datos-generales">
          <!-- Columna Izquierda -->
          <div class="col-md-6">
            <div class="dato-item">
              <strong>Dividend Yield TTM:</strong>
              <span>{{datosDividendos?.dividendYieldTtm || '—' | percentFix}}</span>
            </div>
          </div>

          <!-- Columna Derecha -->
          <div class="col-md-6">
            <div class="dato-item">
              <strong>Payout Ratio TTM:</strong>
              <span> {{datosDividendos?.PayoutRatioTtm || '—' | percentFix}} </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
