<div class="accordion accordion-flush" id="accordionCrecimiento">
  <div class="accordion-item crecimiento-card shadow-lg">
    <h2 class="accordion-header" id="headingCrecimiento">
      <button
        class="accordion-button"
        [class.collapsed]="isCollapsed"
        type="button"
        (click)="toggleCollapse()"
        [attr.aria-expanded]="!isCollapsed">
        <strong>🏦 Posición Financiera</strong>
        <i class="bi text-white ms-auto"></i>
      </button>
    </h2>

    <div
      class="accordion-collapse"
      [class.show]="!isCollapsed"
      [class.collapse]="true"
      aria-labelledby="headingCrecimiento">

      <div class="accordion-body">
        <div class="row datos-generales">
          <div class="col-md-6">
            <div class="dato-item">
              <strong>Deuda / Equity:</strong>
              <span>{{ datosPosicionFinanciera?.deudaEquity | number:'1.2-2' }}</span>
            </div>

            <div class="dato-item">
              <strong>Deuda / Activos:</strong>
              <span>{{ datosPosicionFinanciera?.deudaActivos | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Deuda Neta / EBITDA:</strong>
              <span>{{ datosPosicionFinanciera?.deudaNetaEbitda | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Ratio de Deuda:</strong>
              <span>{{ datosPosicionFinanciera?.ratioDeuda | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Deuda L/P / Capitalización:</strong>
              <span>{{ datosPosicionFinanciera?.deudaLongtermCapitalizacion | percentFix:2}}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="dato-item">
              <strong>Liquidez Corriente:</strong>
              <span>{{ datosPosicionFinanciera?.liquidez | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Quick Ratio (TTM):</strong>
              <span>{{ datosPosicionFinanciera?.quickratioTtm | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Cobertura de Intereses:</strong>
              <span>{{ datosPosicionFinanciera?.coberturaIntereses | number:'1.2-2'}}</span>
            </div>

            <div class="dato-item">
              <strong>Deuda / Capitalización:</strong>
              <span>{{ datosPosicionFinanciera?.deudaCapitalizacion  | number:'1.2-2'}} </span>
            </div>

            <div class="dato-item">
              <strong>Calidad del Beneficio Neto:</strong>
              <span>{{ datosPosicionFinanciera?.calidadBeneficioNeto | percentFix}}</span>
            </div>

            <div class="dato-item">
              <strong>Multiplicador del Equity:</strong>
              <span>{{ datosPosicionFinanciera?.companyEquityMultiplier | number:'1.2-2'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
