.floating-hero {
  position: absolute; /* no ocupa espacio en el flujo */
  top: 0; /* ajusta si quieres que empiece justo debajo del navbar */
  left: 0;
  width: 100%;
  min-height: 70vh; /* altura mínima */
  max-height: 400vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom:10rem;
  pointer-events: none; /* no interfiere con clicks del contenido */
  z-index: -100; /* que quede por encima de todo lo demás */
}
