h4 {
  color: white;
}

#link {
  text-decoration: underline;
  color: #007bff;
  &:hover {
    cursor: pointer;
    text-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  }
}

.table-fixed {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.85rem;

  th, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  thead th {
    background-color: #4a4a4a;
    color: #f1f1f1;
    cursor: pointer;
  }

  tbody tr:nth-child(even) {
    background-color: #ad9797;
  }

  tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  tbody tr:hover {
    background-color: #c0c0c0;
  }
}

/* === Colores dinámicos con brillo === */
.gris {
  text-shadow: 0 0 2px rgba(180, 180, 180, 0.3);
}

.verde {
  color: #00c851;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(0, 200, 81, 0.3);
}

.amarillo {
  color: #f7a706;
  font-weight: 600;
  text-shadow: 0 0 6px rgba(255, 187, 51, 0.3);
}

.rojo {
  color:red;
  font-weight: 600;
}

/* Columnas fijas */
th:nth-child(1), td:nth-child(1) { width: 45px; }
th:nth-child(2), td:nth-child(2) { width: 100px; }
th:nth-child(3), td:nth-child(3) { width: 200px; }
th:nth-child(5), td:nth-child(5) { width: 150px; }
th:nth-child(n+4):nth-child(-n+14),
td:nth-child(n+4):nth-child(-n+13) { width: 105px; }
