<main class="bg-black">
  <!-- Sección Hero -->
  <section class="bg-black d-flex align-items-start text-start text-white mt-5">
    <div class="container">
      <h1 class="display-4 fw-bold">FinanzasPro</h1>
      <p class="lead mt-4">
        La plataforma para visualizar datos del mercado de valores en tiempo real,
        analizar tendencias y tomar decisiones informadas.
      </p>
    </div>
  </section>

  <!-- Galería de Imágenes -->
  <section class="gallery py-5 bg-black text-white mt-5 mb-2">
    <div class="container">
      <h2 class="text-start mb-4">Explora el Mercado de Valores</h2>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="img-wrapper">
            <img src="../../../assets/velas_japonesas.png" alt="Gráfico de Soporte y Resistencia" class="img-fluid rounded shadow">
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-wrapper">
            <img src="../../../assets/syp500.jpg" alt="Gráfico de Velas Japonesas" class="img-fluid rounded shadow">
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-wrapper">
            <img src="../../../assets/grafico_resistencias.jpg" alt="Gráfico de Líneas de Precio" class="img-fluid rounded shadow">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Información Adicional -->
  <section class="info bg-black py-5 text-white">
    <div class="container">
      <h2 class="text-start mb-4">Analisis de mercado</h2>
      <p class="lead text-start">
        Herramientas avanzadas para el análisis del mercado, datos en tiempo real y una interfaz intuitiva.
      </p>
    </div>
  </section>
</main>
