<!-- TradingView chart -->
<app-tradingview-chart [companySymbol]="company_symbol"></app-tradingview-chart>
<div class="container my-2">

  <app-datos_compania [companySymbol]="company_symbol" [datosCompania]="this.datosCompania" [fechaIpo]="fechaIpo"
    (monedaEmitida)="onMonedaSeleccionada($event)" (mostrarInfoCambio)="onMostrarInfoCambiado($event)"
    (favoritoCambio)="onFavoritoCambiado($event)">
  </app-datos_compania>

  <br>

  <app-datos_analistas_score *ngIf="datosScore" [datosScore]="this.datosScore"
    [desplegado]="desplegar"></app-datos_analistas_score>
  <br>

  <app-datos_crecimiento_acciones *ngIf="datosCrecimiento" [datosCrecimiento]="datosCrecimiento"
    [datosPorAccion]="datosAcciones" [desplegado]="desplegar" [moneda]="monedaActual"></app-datos_crecimiento_acciones>

  <br>

  <app-DatosYPreciosGenerales [precioYDatosGenerales]="datosYPrecioGenerales" [desplegado]="desplegar"
    [moneda]="monedaActual">

  </app-DatosYPreciosGenerales>
  <br>

  <app-datosDividendos [datosDividendos]="datosDividendos" [desplegado]="desplegar" [moneda]="monedaActual">

  </app-datosDividendos>
  <br>
  <app-datosDistribucionAccionesCotizacion [datosDistribucion]="datosDistribucionYCotizacion" [desplegado]="desplegar"
    [moneda]="monedaActual"></app-datosDistribucionAccionesCotizacion>
  <br>
  <app-datosEficienciaVentasYActivos [datosEficienciaVentas]="datosEficienciaVentas" [desplegado]="desplegar"
    [moneda]="monedaActual"></app-datosEficienciaVentasYActivos>
  <br>
  <app-datosMargenesYGastosVentas [datosGastosVentas]="datosGastosVentas" [datosMargenesVentas]="datosMargenesCompania"
    [moneda]="monedaActual" [desplegado]="desplegar">
  </app-datosMargenesYGastosVentas>
  <br>
  <app-datosPosicionFinanciera [datosPosicionFinanciera]="datosPosicionFinanciera" [desplegado]="desplegar" [moneda]="monedaActual"></app-datosPosicionFinanciera>
  <br>
  <app-datosRatiosValoracionYRentabilidad [ratiosRentabilidad]="datosRatiosRentabilidad" [ratiosValoracion]="datosRatiosValoracion"[desplegado]="desplegar"[moneda]="monedaActual"></app-datosRatiosValoracionYRentabilidad>
  <br>
  <app-datosValorIntrinseco [datosValorIntrinseco]="datosValorIntrinseco" [desplegado]="desplegar" [moneda]="monedaActual"></app-datosValorIntrinseco>


  <button
  class="btn btn-primary btn-scroll-top"
  title="Volver arriba"
  (click)="scrollToTop()"
  [class.show]="mostrarScrollTop"
>
  <i class="bi bi-chevron-up"></i>
</button>
</div>